{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}


<div x-data="dropdown">
    <button @click="toggle">Expand</button>

    <span x-show="open">Content...</span>
</div>

{#<div x-data="dropdown">#}
{#    <button @click="toggle">Expand</button>#}

{#    <span x-show="open">Some Other Content...</span>#}
{#</div>#}
{% endblock %}