{% extends 'base.html.twig' %}

{% block title %}Hello PurchasesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/vagrant/sites/hey_big_spender/src/Controller/PurchasesController.php'|file_link(0) }}">src/Controller/PurchasesController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/vagrant/sites/hey_big_spender/templates/purchases/index.html.twig'|file_link(0) }}">templates/purchases/index.html.twig</a></code></li>
    </ul>
</div>
    <script>

    </script>
{% endblock %}
